.background {
  viewport-fill: black;
}

text {
  font-family: System-Regular;
}

text#date {
  font-size: 33;
  text-length: 32;
  text-anchor: middle;
  /*   x: 50%; */
  /*   y: 50%+40; */
  fill: fb-yellow;
}

text#time {
  font-size: 125;
  text-length: 32;
  text-anchor: middle;
  /*   x: 50%; */
  /*   y: 50%+40; */
  fill: fb-lime;
}

text#weather_temperature {
  font-size: 36;
  text-length: 32;
  text-anchor: start;
  /*   x: 50%; */
  /*   y: 50%+40; */
  fill: fb-pink;
}

text#weather_forecast {
  font-size: 30;
  text-length: 32;
  text-anchor: start;
  /*   x: 50%; */
  /*   y: 50%+40; */
  fill: fb-orange;
}

.stats {
  font-size: 24;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: start;
  /*   x: 50%; */
  /*   y: 50%+40; */
  fill: fb-cerulean;
}
