.background {
  viewport-fill: black;
}

text {
  font-family: Colfax-Medium;
}

text#date {
  font-size: 29;
  text-length: 32;
  text-anchor: middle;
  /*   x: 50%; */
  /*   y: 50%+40; */
  fill: fb-yellow;
}

text#time {
  font-size: 100;
  text-length: 32;
  text-anchor: middle;
  /*   x: 50%; */
  /*   y: 50%+40; */
  fill: fb-lime;
}

text#weather_temperature {
  font-size: 30;
  text-length: 32;
  text-anchor: start;
  /*   x: 50%; */
  /*   y: 50%+40; */
  fill: fb-pink;
}

text#weather_forecast {
  font-size: 30;
  text-length: 32;
  text-anchor: end;
  /*   x: 50%; */
  /*   y: 50%+40; */
  fill: fb-orange;
}

text#weather_location {
  font-size: 18;
  text-length: 16;
  text-anchor: start;
  /*   x: 50%; */
  /*   y: 50%+40; */
  fill: fb-pink;
}

.stats {
  font-size: 24;
  font-family: Seville-Bold-Italic;
  text-length: 32;
  text-anchor: start;
  /*   x: 50%; */
  /*   y: 50%+40; */
  fill: fb-cerulean;
}
