.background {
  viewport-fill: black;
}

#date {
  font-size: 30;
  font-family: System-Bold;
/*   text-length: 32; */
  text-anchor: middle;
/*   x: 50%; */
/*   y: 50%+40; */
  fill: fb-yellow;
}

#time {
  font-size: 100;
  font-family: System-Bold;
/*   text-length: 32; */
  text-anchor: middle;
/*   x: 50%; */
/*   y: 50%+40; */
  fill: fb-lime;
}

#weather_temperature {
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
/*   x: 50%; */
/*   y: 50%+40; */
  fill: fb-pink;
}

#weather_forecast {
  font-size: 30;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: end;
/*   x: 50%; */
/*   y: 50%+40; */
  fill: fb-orange;
}

#weather_location {
  font-size: 18;
  font-family: System-Bold;
  text-length: 16;
  text-anchor: start;
/*   x: 50%; */
/*   y: 50%+40; */
  fill: fb-pink;
}

.stats {
  font-size: 24;
  font-family: Seville-Bold-Italic;
  text-length: 32;
  text-anchor: start;
/*   x: 50%; */
/*   y: 50%+40; */
  fill: fb-cerulean;
}