.background {
  viewport-fill: black;
}

text {
  font-family: System-Regular;
}

text#date {
  font-size: 29;
  text-length: 32;
  text-anchor: middle;
  /*   x: 50%; */
  /*   y: 50%+40; */
  fill: #E4FA3C; /* fb-yellow; */
}

text#time {
  font-size: 100;
  text-length: 32;
  text-anchor: middle;
  /*   x: 50%; */
  /*   y: 50%+40; */
  fill: #B8FC68; /* fb-lime; */
}

text#weather_temperature {
  font-size: 25;
  text-length: 32;
  text-anchor: start;
  /*   x: 50%; */
  /*   y: 50%+40; */
  fill: #F80070; /* fb-pink; */
}

text#weather_forecast {
  font-size: 25;
  text-length: 32;
  text-anchor: end;
  /*   x: 50%; */
  /*   y: 50%+40; */
  fill: #FF4500; /*fb-orange;*/
}

.stats {
  font-size: 24;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: start;
  /*   x: 50%; */
  /*   y: 50%+40; */
  fill: #8080FF; /* fb-cerulean; */
}
